Questão 1:

Listas sao basicamente uma sequencia de valores armazenados, Já os ndarrays sao bastante parecidos com as listas, porem possui algumas funcionalidades a mais, sendo a vetoriazação a funcionalidade com mais destaque. Sobre os dicionarios, a grande diferença é na forma em que acessamos os dados, nesse, os dados sao acessados atraves de uma chave que foi associada a ela, enquanto nas listas voce acessa por meio de índice. 
Série Panda são unidimensionais ndarrays com rótulos de eixo, que permitem armazenar valores e são uma das estruturas de dados internas de numpy.

Questão 2:

In [17]:
import pandas as pd
import numpy as np

ser = pd.DataFrame(np.random.randint(1,10,size=(7,5)), columns=list('12345'))
ser

   1  2  3  4  5
0  7  5  8  6  8
1  2  2  2  8  1
2  9  9  2  2  2
3  5  2  2  1  6
4  2  4  4  6  5
5  1  8  4  2  7
6  8  4  1  3  8

Questao 3:

In [37]:
q3 = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv')
crim = pd.DataFrame(q3['crim'])
medv = pd.DataFrame(q3['medv'])
crim

        crim
0    0.00632
1    0.02731
2    0.02729
3    0.03237
4    0.06905
..       ...
501  0.06263
502  0.04527
503  0.06076
504  0.10959
505  0.04741

[506 rows x 1 columns]

Questao 4:

In [51]:
q4 = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
q4.rename(columns={'Type':'CarType'}, inplace =True)
q4.columns= q4.columns.str.replace('.','_')
q4

<ipython-input-51-a2dea98f0182>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  q4.columns= q4.columns.str.replace('.','_')

,Manufacturer,Model,CarType,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

Questao 5:

In [50]:
qtdfal = q4.isnull().sum()
qtdfal

Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

Questao 6:

In [80]:
maiorv = q4.isnull().max()
maiorv

Manufacturer          True
Model                 True
CarType               True
Min_Price             True
Price                 True
Max_Price             True
MPG_city              True
MPG_highway           True
AirBags               True
DriveTrain            True
Cylinders             True
EngineSize            True
Horsepower            True
RPM                   True
Rev_per_mile          True
Man_trans_avail       True
Fuel_tank_capacity    True
Passengers            True
Length                True
Wheelbase             True
Width                 True
Turn_circle           True
Rear_seat_room        True
Luggage_room          True
Weight                True
Origin                True
Make                  True
dtype: bool

Questao 7:

In [59]:
df = pd.DataFrame(np.arange(20).reshape(-1,5), columns=list('abcde'))
df

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [64]:
ca = pd.DataFrame(df['a'])
ca

    a
0   0
1   5
2  10
3  15

Questao 8: Letra A

In [65]:
df = df[['c','b','a','d','e']]
df

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

Questao 8 letra B:

In [ ]:
df.insert(0, 'newColMean', df.mean(1))

Questao 8 letra C:

In [70]:
df.sort_values(by=0, axis=1,ascending= False)

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

Questao 9:

In [76]:
q9 = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
#q9 = pd.DataFrame(size=(10,10))
df.columns.tolist()
df.arrows.tolist()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
5,Buick,Century,Midsize,14.2,15.7,17.3,22.0,31.0,Driver only,NaN,...,6.0,189.0,105.0,69.0,41.0,28.0,16.0,NaN,USA,Buick Century
6,Buick,LeSabre,Large,19.9,20.8,NaN,19.0,28.0,Driver only,Front,...,6.0,200.0,111.0,74.0,42.0,30.5,17.0,3470.0,USA,Buick LeSabre
7,Buick,Roadmaster,Large,22.6,23.7,24.9,16.0,25.0,Driver only,Rear,...,6.0,216.0,116.0,78.0,45.0,30.5,21.0,4105.0,USA,Buick Roadmaster
8,Buick,Riviera,Midsize,26.3,26.3,26.3,19.0,27.0,Driver only,Front,...,5.0,198.0,108.0,NaN,41.0,26.5,14.0,3495.0,USA,Buick Riviera
9,Cadillac,DeVille,Large,33.0,34.7,36.3,16.0,25.0,Driver only,Front,...,6.0,206.0,114.0,73.0,43.0,35.0,18.0,3620.0,USA,Cadillac DeVille